body {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.app {
  display: flex;
  position: relative;
  max-width: 1280px;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > div {
  width: 94%;
}

.emoji-mart-scroll {
  height: 80vh !important;
}

.channels {
  max-width: 320px;
  height: 100vh;
}

.bottomAppBarWrapper {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.people div {
  opacity: 0.5;
}

.people div:hover {
  opacity: 1;
}

.volume-off-icon {
  visibility: hidden;
}

.people div:hover .volume-off-icon {
  visibility: visible;
}

.people .disabled-person, .people .add-person {
  background: #ccc !important;
  opacity: 0.5;
}

.people div:nth-child(1) div {
  background: #f48fb1;
}

.people div:nth-child(2) div {
  background: #ce93d8;
}

.people div:nth-child(3) div {
  background: #b39ddb;
}

.people div:nth-child(4) div {
  background: #b39ddb;
}

.people div:nth-child(5) div {
  background: #80cbc4;
}

.people div:nth-child(6) div {
  background: #a5d6a7;
}


@media only screen and (max-width: 800px), (min-height: 800px) {
  .app {
    max-width: 720px;
    flex-direction: column;
    margin: 0 auto;
  }

  .content {
  }

  .channels {
    max-width: 100%;
  }

  .bottomAppBarWrapper {
    max-width: 720px;
    margin: 0 auto;
  }
}

.emoji-mart {
  border: 0 !important;
  padding: 4px;
}

.twemoji {
  height: 18px;
  display: inline;
  position: relative;
  padding: 0px 4px;
}

.person {
  background: red;
  height: 0;
  padding-top: 50%;
  width: 50%;
  position: relative;
}

.brand {
  font-family: "Pacifico", "Helvetica Neue", sans-serif;
}

@media all and (display-mode: standalone) {
  .hidden-standalone {
    display: none
  }
}

.emoji-mart-category-list{
  text-align: center;
}

